[user]
	name = Practical Coder
	email = practical.coder@gmail.com
[alias]
	co = checkout
[color]
	ui = auto
	grep = auto
[core]
	editor = gvim -f
[instaweb]
	#local = true
	httpd = apache2 -f
	port = 8888
	browser = google-chrome
	modulepath = /usr/lib/apache2/modules
