[client]
user=root
[mysql]
prompt="\\c \\d \\U             \\D  \h  \p  \\v\\n> "
pager="/usr/bin/less -EX"
no-beep
password
default-character-set=utf8
safe-updates
protocol=tcp
[mysqladmin]
[mysqlimport]
[mysqldump]

